* {
    font-family: "Bookman Old Style", serif;
}

body {
    margin: 0;
}

.banner {
    display: flex;
}

.banner-left,
.banner-right {
    background-color: darkcyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
}

.footer {
    text-align: center;
    background-color: darkcyan;
    color: white;
}

.main {
    display: flex;
}

.card {
    background-color: azure;
    width: 30%;
    margin: 1%;
    box-shadow: 4px 4px 8px dimgray;
}

.card img {
    width: 100%;
}

p,
h2,
h3 {
    margin: 15px;
}

a {
    color: white;
}

h5 {
    background-color: teal;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

h5:hover {
    background-color: lightseagreen;
}

blockquote {
    text-align: center;
    padding-inline-start: 30px 0;
    font-style: italic;
}
