* {
    font-family: Cambria;
    text-align: center;
}

header,
footer {
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}

nav {
    background-color: rgb(173, 20, 87);
    text-align: left;
}

main {
    display: flex;
}

#left {
    background-color: snow;
    color: OliveDrab;
    width: 60%;
    height: 322px;
    text-align: left;
}

#right {
    background-color: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
}

#samochod {
    margin: 40px;
    padding: 10px;
}

#samochod:hover {
    border: dotted 1px yellowgreen;
}

a {
    padding: 0 50px;
    color: yellowgreen;
}

table,
td {
    border: solid 1px OliveDrab;
}

table {
    width: 90%;
}
